@import '../../../themes/dtf';

@media only screen and (min-width: 320px) {

    #stick_note {
        margin-top: 0;
        margin-left: 0;
        position: absolute;
    };
    
    .disclaimer-text {
        font-size: 14px;
        width: 300px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    };
    
    .helper-text-div {
        font-style: italic;
        margin-top: 30px;
        text-align: center;
    };

};

@media only screen and (min-width: 550px) {

    // No changes on tablet

}

@media only screen and (min-width: 800px) {

    .login-page-div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        
    };

};