@import '../../../themes/dtf';

.select-div {
    padding-top: 15px;
    & > label {
        display: block;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    & > select {
        font-size: 20px;
        border: 2px $gray solid;
        width: 200px;
    }
}

