@import '../../../themes/dtf';

@media only screen and (min-width: 320px) {

  form {
    width: 300px;
    // reset css is resetting margin to 0
    // !important allows form to be centered on mobile/tablet screens
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;

    & > Button, legend {
      margin-top: 20px;
    }

  }

  .todays-date {
    margin-top: 10px;
  }

  .checkbox-title {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .checkbox {
    text-align: left;
  }

  .center {
    text-align: center;
  }

  .checkboxes-div {
    margin-left: 50px;
    text-align: left;
  }

}

@media only screen and (min-width: 800px) {
  form {
    margin-left: unset;
    margin-right: unset;
  }

}