@import '../../../themes/dtf';

@media only screen and (min-width: 320px) {

    .main-feed-fact {
        background-color: $white;
        padding: 15px;
        width: 80%;
        max-width: 325px;
        margin: 20px auto auto auto;
        border-radius: 10px;
        text-align: left;
    };
    
    .main-feed-fact > div {
        margin-bottom: 20px;
    };
    
    .fact-title {
        font-size: 30px;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-top: 10px;
    };
    
    .fact-logo {
        float: right;
        margin-top: -30px;
    };

};

@media only screen and (min-width: 550px) {

    .main-feed-fact {
        max-width: 325px;
        min-width: 325px;
        
        margin: 10px;
    }

};

@media only screen and (min-width: 800px) {

};