@import '../../../themes/dtf';

.main-feed-fact {
    background-color: $white;
    padding: 15px;
    max-width: 80%;
    margin: 20px auto auto auto;
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
};

.main-feed-fact > div {
    margin-bottom: 20px;
}

.fact-title {
    font-size: 30px;
}

.fact-logo {
    float: right;
    margin-top: -75px;
}