$tan: #FFE4AB;
$gold: #FFCA51;
$orange: #F2A900;
$beige: #966000;
$brown: #4F2E00;

$light-blue: #7DB7DB;
$blue: #7EAEF2;
$dark-blue: #2d5b6b;

$light-green: #AFD275;
$green: #7DD65D;
$teal: rgb(0, 128, 128);
$dark-green: #7b7d2a;

$pink: #E7717D;
$red: #EB3429;

$success: #7DD65D;
$error: #ff6262;

$light-gray: #e6e6e6;
$gray: #C2CAD0;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #131313;
$white: #fefefe;

@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
