@import '../themes/dtf';

h1 {
    margin: 0;
    font-size: larger;
}

.header {
    padding: 0 1rem;
    justify-content: center;
    position: relative;
    background-color: $gray;
    font-weight: bold;
}

.header {
    border-bottom: 2px $dark-gray;
}

.log-in {
    margin: auto auto auto 20px;
}

.open {
    display: none;
}

.title-text {
    font-family: 'Crimson Text';
    width: 200px;
}

.header-div {
    display: flex;
    justify-content: center;
    align-items: center;
  
    & > h1 {
        margin-left: 20px;
    }
}

.admin {
    background-color: $gold;
}

.admin-header-div, .app-header-div {
    padding-bottom: 10px;
}

.admin-header-label {
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.main-dtf-logo {
    padding-top: 20px;
}

.app-header-div {
    padding-top: 10px;
}


  