.Truth-Checker {
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: rgb(230, 230, 230);
}

.App {
  text-align: center;
}

.main-feed {

  background-color: rgb(230, 230, 230);
}

.center {
  text-align: center;
}

.terms-and-conditions {
  text-align: left;
}

.approved-fact-label {
  padding: 2px;
  font-size: 10px;
  background-color: teal;
  color: white;
  font-weight: bold;
}

.align-left {
  text-align: left;
}
