@import '../../../themes/dtf';

.no-results-div {
    width: 240px;
    text-align: center;
    background-color: $gray;
    padding: 30px;
    border-radius: 10px;
    margin: 20px auto;
    & > p > span {
        font-weight: bold;
        color: $brown;
        margin-left: 5px;
        margin-right: 5px;
    }
};

.cta-text {
    margin-top: 10px;
    margin-bottom: 10px;
};

.top-item {
    margin-top: 10px;
};

.disclaimer {
    font-size: 13px;
};