@import '../../../themes/dtf';

.white {
    color: $white;
};

.black {
    color: $black;
};

.disabled {
    color: $gray
};

.status {
    background-color: $orange;
};

.certifiedFact {
    background-color: $teal;
}

.certifiedNotTrue {
    background-color: $red;
}

.date {
    background-color: $brown;
};

.id {
    background-color: $black;
};

.menu {
    color: $black;
};

.bold {
    font-weight: bold;
};

.fact-label {
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px;
};

.classified-label {
    padding: 5px 10px;
    background-color: $black;
    color: $white;
    font-size: 12px;
};