@import '../../../themes/dtf';

.white {
    color: $white;
}

.black {
    color: $black;
}

.disabled {
    color: $gray
}

.status {
    background-color: $gold;
}

.date {
    background-color: $orange;
}

.id {
    background-color: $brown;
}

.menu {
    color: $black;
}

.bold {
    font-weight: bold;
}

.fact-label {
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px;
};

.classified-label {
    padding: 5px 10px;
    background-color: $black;
    color: $white;
    font-size: 12px;
}